body{
    font-family: "Arial";
    background-color: black;
    color: white;

    margin-right: 16px;
    margin-left: 16px;
    margin-top: 2px;
    margin-bottom: 2px;

}
.wb-border-top1{
    border: 2px solid rgb(47, 51, 54);
    border-bottom: 0;

}
.wb-border-top{
    border: 2px solid rgb(47, 51, 54);


}




.wd-input-mg{

    background-color: whitesmoke;
    color: black;
    border-bottom-left-radius: 50px !important;
    border-top-left-radius: 50px !important;
    height: 30px;

    margin-left: 16px ;
    border-right-color: whitesmoke;

}

.wd-input-mg1{

    background-color: whitesmoke;
    color: darkgrey;
    border-bottom-right-radius: 50px !important;
    border-top-right-radius: 50px !important;
    border-color: whitesmoke;
    height: 30px;
    margin-right: 16px ;

}

.wd-margin-lr{
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 12px;

}
.wd-margin-lr1{
    margin-left: 16px;
    margin-right: 16px;


}

.wd-three-dot {
    color: lightgray!important;
    float: right !important;
    margin-right: 16px !important;
}
.wd-hl-noul {
    text-decoration: none;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 7px;
    margin-bottom: 12px;
}
.wd-nav-tabs {
    color: rgb(110, 118, 125);
    display: inline-block;
    font-size: 15px;
    padding: 0px;
    margin: 0;


}

.wd-nva-mg{
    margin-bottom: 12px;
}


.wd-nav-tabs li {
    list-style-type: none;
    display:inline-block;
    padding: 16px 16px 16px 16px;

}

.wd-nav-tabs .active{
    color: rgb(29,161,242);
    border-bottom: solid 4px rgb(29,161,242);

}

.wd-topic{
    font-size: 15px;
    color: rgb( 110, 118, 125);
    margin-left: 16px;
    padding-top: 12px;

}


.wd-border-mid{
    border: 2px solid rgb(47, 51, 54);

    border-bottom: 0;
}

.wd-border-mid1{

    border: 2px solid rgb(47, 51, 54);
    border-top: 0;

}
.wd-border-mid2{

    border: 2px solid rgb(47, 51, 54);

}

.wd-border-break{
    border: 2px solid rgb(47, 51, 54);
    background-color: darkgrey;
}
.wd-topic-name
{
    font-size: 15px;
}
.wd-float-left{
    width: 82%;
    float: left;
}
.wd-float-r{
    width: 15%;
    float: left;
    margin-right: 12px;

}

.wd-photo{

    border-radius: 20px;


    height: 100px;
    width: 100px;
    right: 32px;
}

.float-done{
    clear: both;
}

.wd-list-left{
    position: absolute !important;
    background-color: black !important;
    float: right !important;
    color: white !important;
    margin-right: 16px !important;
}

.list-group.override-ls{
    position: absolute ;
    background-color: black ;
    float: right !important;
    color: white ;
    width: 300px;
    margin-right: 16px ;
    margin-left: 16px ;
}

.list-group.override-lsn{
    position: absolute ;
    background-color: black ;
    float: right !important;
    color: white ;
    width: 280px;
    margin-right: 16px ;
    margin-left: 16px ;
}

.list-group.override-lsn1{
    position: absolute ;
    background-color: black ;
    float: right !important;
    color: white ;
    width: 250px;
    margin-right: 16px ;
    margin-left: 16px ;
}

.list-group-item.override-color{
    background-color: black ;
    color: white ;
    border: 1px solid black;
}
.list-group-item.override-color1{
    background-color: rgb(48,48,48) ;
    color: white ;
    border: 1px solid rgb(48,48,48);
}
.chatbotListOptionsBox {
    border-radius: 30px !important;
}

.wd-m-foot {
    margin-top: 420px !important;
    margin-left: 10px;
    font-size: 12px !important;
}


.list-group.override-ls1{
    background-color: black ;
    float: right !important;
    color: white ;
    margin-left: 16px ;
    margin-right: 16px ;
    padding-left: 270px;
    width: 450px;
}
.fa.override-from{
    color: white !important;
    text-decoration: none;
}
.fa.override-from1{
    color: white !important;
    text-decoration: none;
    font-weight: bolder !important;
}

.list-group.override-ls2{
    background-color: black ;
    float: right !important;
    color: white ;
    margin-left: 16px ;
    margin-right: 16px ;
    padding-left: 270px;
    width: 400px;
}

.list-group.override-ls3{
    background-color: black ;
    float: right !important;
    color: white ;
    margin-left: 16px ;
    margin-right: 16px ;
    padding-left: 270px;
    width: 320px;
}

.list-group.override-ls4{
    background-color: black ;
    float: right !important;
    color: white ;
    margin-left: 16px ;
    margin-right: 16px ;
    padding-left: 270px;
    width: 350px;
}

.nav-link.override-from{
    color: white !important;
    text-decoration: none;
}

.btn-primary.override-bs{
    margin-left: 16px ;
    margin-right: 16px ;
    margin-top: 5px;
    float: right !important;
    width: 180px;
}

.btn-primary.override-bs1{
    margin-left: 16px ;
    margin-right: 16px ;
    margin-top: 5px;
    float: right !important;
    width: 130px;
}
.btn-primary.override-bs2{
    margin-left: 16px ;
    margin-right: 16px ;
    margin-top: 5px;
    float: right !important;
    width: 50px;
    font-size: 12px;
}

.btn-primary.override-bs3{
    margin-left: 16px ;
    margin-right: 16px ;
    margin-top: 5px;
    float: right !important;
    width: 80px;

}

.wd-img-size{

    border-radius: 50px;
    height: 48px;
    width: 48px;


}

.wd-rot-1{

    float: left;
    width: 20%;
    margin-top: 8px;
    margin-bottom: 5px;

}
.wd-rot-2{
    float: left;
    width: 50%;
    margin-left: 4px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;

}

.wd-rot-3{
    float: right;
    width: 20%;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 5px;



}

.wd-rot-21{
    float: left;
    width: 50%;
    margin-left: 4px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;

}

.wd-rot-31{
    float: left;
    width: 20%;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 5px;



}

.wd-rot-22{
    float: left;
    width: 40%;
    margin-left: 10px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;

}

.wd-rot-32 {
    float: left;
    width: 20%;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
}



}

.wd-user{
    color: lightgray;
    font-size: 13px;
}
.wd-photo1{
    height: 300px;
    width: 485px;

}

.container {
    position: relative;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 10px;
    left: 2px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
