body{
    font-family: "Arial";
    background-color: black;
    color: white;

    margin-right: 16px;
    margin-left: 16px;
    margin-top: 2px;
    margin-bottom: 2px;

}
.wb-border-top1{
    border: 2px solid rgb(47, 51, 54);
    border-bottom: 0;

}
.wb-border-top{
    border: 2px solid rgb(47, 51, 54);
    border-bottom: 10px solid rgb(47, 51, 54);

}

.wd-input-bar{

    background-color: darkgrey;
    color: white;
    width: 93%;
    border-radius: 50px;
    margin-left: 16px;

}
.wd-margin-lr{
    margin-left: 16px;
    margin-right: 16px;
}
.wd-hlink-gear{
    position: absolute;
    background-color: black;
    color: rgb(29,161,242);
    background-position : calc(100% - 1px) 0;
    border: black;
    text-decoration: none;
    right: 28px;
    float: right ;

}
.wd-nav-tabs {
    color: rgb(110, 118, 125);
    display: inline-block;
    font-size: 15px;
    padding: 0px;
    margin: 0;

}


.wd-nav-tabs li {
    list-style-type: none;
    display:inline-block;
    padding: 16px 16px 16px 16px;

}

.wd-nav-tabs .wd-selected{
    color: rgb(29,161,242);
    border-bottom: solid 4px rgb(29,161,242);
}

.wd-topic{
    font-size: 13px;
    color: rgb( 110, 118, 125);
    margin-left: 16px;

}


.wd-border-mid{
    border: 2px solid rgb(47, 51, 54);

    border-bottom: 0;
}

.wd-border-mid1{

    border: 2px solid rgb(47, 51, 54);
    border-top: 0;

}
.wd-border-mid2{

    border: 2px solid rgb(47, 51, 54);

}

.wd-border-break{
    border: 2px solid rgb(47, 51, 54);
    background-color: darkgrey;
}
.wd-topic-name
{
    font-size: 13px;
}
.wd-float-left{
    width: 80%;
    float: left;
}
.wd-photo{
    position: absolute;
    border-radius: 20px;
    float: right;
    height: 100px;
    width: 100px;
    right: 32px;
}

.float-done{
    clear: both;
}